body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
input{
    outline: none;
    box-shadow: none;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.unstyled-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.container{
    width: 80%;
    margin: auto;
}
h1, h2, h3, h4, h5, h6{
    margin-top: 0;
}
.site-title{
    font-size: 32px;
}
p{
    font-size: 17px;
    line-height: 32px;
    margin-top: 0;
}
.col{
    width: 100%;
}
/*====== Header ======*/
.site-header{
    padding: 30px 0;
    box-shadow: 0 0 10px #e7e7e7;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FFF;
    z-index: 99;
}
.site-header .container{
    width: 85%;
}
.site-header .header-gb{
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to left, #79bfd4, #98c852);
}
.site-header nav{
    align-items: center;
}
.site-logo a{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #000;
    font-weight: 500;
    font-size: 28px;
}
.site-logo a img{
    width: 30px;
    margin-right: 10px;
}
.site-navigation-wrap{
    margin-left: auto;
    font-size: 16px;
}
.site-navigation-wrap ul li{
    display: inline-block;
    font-weight: 500;
}
.site-navigation-wrap ul li:not(:last-child){
    margin-right: 36px;
}
.site-navigation-wrap ul li a{
    color: #000;
}
.site-navigation-wrap ul li img{
    width: 20px;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 5px;
}
/*======  Header Ends ====== */

/*======  Footer ====== */
.site-footer{
    margin-top: 80px;
    background-color: #f7f7f7;
}
.site-footer .container{
    padding: 50px 0;
    border-top: 1px solid #d6d3d7;
}
.site-footer .col{
    width: 32%;
}
.footer-logo{
    margin-bottom: 20px;
}
.footer-logo a{
    font-size: 20px;
}
.footer-logo a img{
    width: 25px;
}
.site-footer ul, .site-footer ul li a{
    color: #000;
    letter-spacing: 0.3px;
}
.site-footer li{
    color: #5b5b5b;
    line-height: 24px;
}
.site-footer ul li:not(:last-of-type){
    margin-bottom: 10px;
}
.site-footer ul li a{
    font-weight: 600;
}
/*======  Footer Ends ====== */


@media(min-width: 1600px){
    .site-header + div, .site-header + section{
        margin-top: 94px;
    }
}